<aside class="p-4 bg-light" style="width: 200px; height: calc(100vh - 56px);">
    <div class="d-flex flex-column align-items-start gap-4">
        <a class="nav-link" href="{{ url_for('admin.dashboard') }}">
            Dashboard
        </a>

        <a class="nav-link" href="{{ url_for('admin.dashboard') }}">
            Treks
        </a>

        <a class="nav-link" href="{{ url_for('admin.dashboard') }}">
            Staff
        </a>

        <a class="nav-link" href="{{ url_for('admin.dashboard') }}">
            Users
        </a>

        <a class="nav-link" href="{{ url_for('admin.dashboard') }}">
            Bookings
        </a>

        <a class="nav-link" href="{{ url_for('admin.dashboard') }}">
            Logout
        </a>
    </div>
</aside>